body {
    font-family: Raleway, serif;
    color: #434343;
    letter-spacing: 1px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBar {
    margin: 10px auto;
    max-width: 300px;
    background: #f1f1f1;
    display: none;
}

#searchBar.show {
    display: block;
}

#searchBarInput {
    font-family: Raleway, serif;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 10px;
}

#wrapper {
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(4, 4, 4, 0.5);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 75px;
    margin-bottom: 10px;
}

.page-title {
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

nav {
    margin-top: 10px;
}

nav button {
    margin: 5px;
    background: #41b134;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

nav button:hover {
    background: #094905;
}

.slideshow-container {
    text-align: center;
    margin-top: 20px;
}

.slideshow-container h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
}

.slideshow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.slide-button {
    background: none;
    border: none;
    font-size: 42px;
    cursor: pointer;
    user-select: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

.footer-container {
    max-width: 960px;
    margin: 0 auto;
}
